{% extends 'layouts/contentLayout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %}
    {% for lesson in lessons %}
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ lesson.title|safe }}</h5>
          <a {% if request.user.is_authenticated and request.user.level_completed < lesson.id %} href="" style="color:lightgrey;" {% else %} href="lesson/{{ lesson.url }}" {% endif %} class="btn btn-primary">start lesson</a>
        </div>
      </div>

    {% endfor %}

{% endblock %}
